.logo{
    position: absolute;
    top:20px;
    left: 20px;



  
}

.menu{
    list-style: none;
    list-style-type: none;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #000000;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-shadow: 0 0 0.1em #000;
    box-shadow: 0 0 0.1em #000;

}

.menu li{
    display: inline-flex;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.5em;
    transition: all 0.5s ease;
}

.menu li:hover{
    background-color: #fff;
    color: #000;
    text-shadow: 0 0 0.1em #fff;
    box-shadow: 0 0 0.1em #fff;
}

.menu li a{
    text-decoration: none;
    color: inherit;
}

.menu li a:hover{
    color: inherit;
}

.menu li a:active{
    color: inherit;
}

.activeLink{
    background-color: #4f1414;
    color: #322727;
    text-shadow: 0 0 0.1em #fff;
    box-shadow: 0 0 0.1em #fff;
}

@media screen and (max-width: 1281px){
    .logo{
display: block;
position: relative;
top: 0;
width:85%;
margin: 0 auto;
    }
    .menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu li{
        display: block;
        padding: 0.5em;
        margin: 0.5em;
        border-radius: 0.5em;
        transition: all 0.5s ease;
    }

    .menu li:hover{
        background-color: #fff;
        color: #000;
        text-shadow: 0 0 0.1em #fff;
        box-shadow: 0 0 0.1em #fff;
    }
}

    


